
/* Organising my palette so I can establish layout before content */
:root {
  --background-color: #fff0e498;
  --primary-color: #;
  --secondary-color: #;
  --hover: #;

  --title-color: #385bb9;
  --heading-color: #416adbe8;
  --text-color: #4469cff3;

  --title-font: "League Spartan";
  --heading-font: "Abril Fatface";
  --text-font: "Josefin Sans";
  
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
}

h1 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: 90%;
}

h2, h3, h4 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "left center right";
  gap: 1em;
}

nav {
  grid-area: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-scrollbox {
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem;
  text-align: center;
  background-color: #fad6b8;
  width: 100%;
}

.main-section {
  grid-area: center;
}