
/* Organising my palette so I can establish layout before content */
:root {
  --background-color: #ffedc57e;
  --background-color2: #3279bbc0;
  --primary-color: #;
  --secondary-color: #ffdcae;
  --hover: #da90f1d5;

  /* --title-color: #385bb9;
  --heading-color: #416adbe8;
  --text-color: #4469cff3; */

  --title-color: #385bb9;
  --heading-color: #416adbe8;
  --text-color: #4469cff3;

  --title-font: "League Spartan";
  --heading-font: "Josefin Sans";
  --text-font: "Josefin Sans";
  
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  max-height: 100vh;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
}

h1 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: 92%;
}

h2, h3, h4, em, strong {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 90%;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  /* font-family: var(--heading-font); */
}

a:hover {
  display: flex;
  color: var(--hover);
  transform: scale(103%);
}

ul {
  list-style: none;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "left center right";
  padding: 0;
  margin-bottom: 0;
}

/* Navbar */
nav {
  grid-area: left;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 65%;
  background-color: var(--background-color2);
  border-radius: 7px;
}

/*  Main right-side of viewport */
.main-scrollbox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 5vw;
  margin-top: 5vh;
  padding: 7vw;
  padding-top: 0;
  padding-left: 0;
  gap: 2vh;
  height: 80vh;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: left;
  /* justify-content: center; */
  left: 10%;
  height: 50vh;
  width: 60vw;
  padding-bottom: 2vh;
}


.head-card1 img {
  height: 25vh;
  border-radius: 200px;
}

#name {
  font-size: 105%
}

.head-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  font-size: 80%;
}

.main-section {
  display: grid;
  grid-template-rows: 3fr 3fr 3fr 3fr;
  grid-gap: 100%;
  height: 70vh;
  font-size: .5rem;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  scroll-behavior: smooth;
}


.main-section::-webkit-scrollbar {
  display: none;
}

.main-section li {
  font-size: 60%;
}


.card {
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#minion {
  height: 20vh;
  float: right;
  padding-bottom: 6vh;
  padding-left: 2vw;
}

.card-header {
  font-family: var(--title-font);
  font-weight: 600;
}

#ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.tagline {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.9rem;
}

.card p {
  font-size: 1.2rem;
}


.battle {
  height: 10%;
}